<div class="erigor-rpg chat-card initiative-roll-card">
    <div class="card-header">
        <img src="{{actorImg}}" title="{{actorName}}" class="profile-img small-profile-img"/>
        <span class="chat-header-title">{{title}} para {{actorName}}</span>
    </div>
    <div class="card-content">
        <div class="dice-roll">
            <div class="dice-formula">{{formula}}</div>
            {{{tooltip}}}
            <h4 class="dice-total">{{total}}</h4>
        </div>
    </div>
</div>